<html lang="en">

<head>
    <title>Data Analytics Ireland</title></head>
    <link rel="stylesheet" href="static/style.css">
<body>

<div id="name_main">
    <h1>Hi there!</h1>
    <h3>You have 100 Points to use. Each round you enter a number and the player with the higher number wins. When you reached 5 stars, before getting to 0 points, you win. If a player reaches 0 points the game is over!.</h3>
    <button onclick="restartPage()" id="restarted">Continue</button>
    <div class="inputs" id="input_name">
      <input
        type="text"
        id="fname"
        name="fname"
        placeholder="Let's start with your name"
      />
      <button onclick="passNames();" id="myBtn">GO!</butto>
    </div>
</div>

    <main class="game" id="main">
        <h1 id="won">Yeah you won</h1>
        <div id="vs">VS</div>
      <div class="flex" id="game_viewer">
        <div class="fuel_gamer_one" id="p1_border">
          <div class="wins_one" id="w1"><p>0 / 5</p></div>
          <p class="players_names" id="p1"></p>
          <div class="entered_numbers" id="p1_entered"></div>
          <div class="points" id="one_points"><p>100</p></div>
        </div>

        <div class="fuel_gamer_two" id="p2_border">
          <div class="wins_two" id="w2">0 / 5</div>
          <p class="players_names" id="p2">...</p>
          <div class="entered_numbers" id="p2_entered"></div>
          <div class="points" id="two_points"><p>100</p></div>
        </div>
      </div>
    </main>

    <div class="inputs" id="input_numbers">

      <input
        type="text"
        id="numbers"
        name="numbers"
        placeholder="Enter your Number"
      />
      <button onclick="passNumbers()" id="myBtn_2">Send</button>

    </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="application/javascript">

let game_state = null
let myName = null
let who_is_player = null


function updateGameArea() {
        if (value_status["player_one"]) {
            player_one = value_status["player_one"]["name"]
            document.getElementById("p1").innerHTML = player_one
        }else {
        document.getElementById("p2").innerHTML = "...";
        }

        if (value_status["player_two"]) {
            player_two = value_status["player_two"]["name"]
            document.getElementById("p2").innerHTML = player_two
        } else {
        document.getElementById("p2").innerHTML = "...";
        }
}

function settingColors() {
if (value_status["player_one"]["current_input"] > value_status["player_two"]["current_input"]){
            document.getElementById("p1_entered").style.color = "#abf281"
            document.getElementById("p2_entered").style.color = "#c4736a"
            document.getElementById("p1_border").style.border = "thick solid #abf281";
            document.getElementById("p2_border").style.border = "thick solid #abf28100"; // none

            }else if (value_status["player_one"]["current_input"] < value_status["player_two"]["current_input"]) {
            document.getElementById("p1_entered").style.color = "#c4736a"
            document.getElementById("p2_entered").style.color = "#abf281"
            document.getElementById("p2_border").style.border = "thick solid #abf281";
            document.getElementById("p1_border").style.border = "thick solid #abf28100"; // none

            } else {
            document.getElementById("p2_entered").style.color = "white"
            document.getElementById("p1_entered").style.color = "white"
            }
}


function updateNumbers() {
    // Setting the points
    // if two players are in the game
    if (value_status["player_one"] && value_status["player_two"]) {
        document.getElementById("p2_entered").style.color = "white"
        document.getElementById("p1_entered").style.color = "white"
        if (value_status["player_one"].GameIsOn == true && value_status["player_two"].GameIsOn == true ) {
        if (value_status["player_one"].HasWon == true) {
            document.getElementById("won").innerHTML = "Player One has won"
            document.getElementById("won").style.display = "block"
            document.getElementById("input_numbers").style.display = "none";
           // document.getElementById("game_viewer").style.display = "none";

        } else if (value_status["player_two"].HasWon == true) {
            document.getElementById("won").innerHTML = "Player Two has won"
            document.getElementById("won").style.display = "block"
            document.getElementById("input_numbers").style.display = "none";
          //  document.getElementById("game_viewer").style.display = "none";
        }


        if (value_status["player_two"].EnteredNumber == true && value_status["player_one"].EnteredNumber == true ) {

            // Setting Input
            input_player_one = value_status["player_one"]["current_input"]
            input_player_two = value_status["player_two"]["current_input"]
            document.getElementById("p1_entered").innerHTML = input_player_one
            document.getElementById("p2_entered").innerHTML = input_player_two

            // setting color green red for wins
            settingColors()

            // Setting Current Score
            score_player_one = value_status["player_one"]["points"]
            document.getElementById("one_points").innerHTML = score_player_one
            document.getElementById("one_points").style.height = 5 + (score_player_one / 2) + "vh";
            score_player_two = value_status["player_two"]["points"]
            document.getElementById("two_points").innerHTML = score_player_two
            document.getElementById("two_points").style.height = 5 + (score_player_two / 2) + "vh";

            // Setting Wins
            wined = value_status["player_one"]["wins"]
            document.getElementById("w1").innerHTML = wined + " / 5"
            wined_2 = value_status["player_two"]["wins"]
            document.getElementById("w2").innerHTML = wined_2 + " / 5"
        }else {
        if (value_status["player_one"] && (value_status["player_one"].name == myName)) {

                     // score
                     score_player_one = value_status["player_one"]["points"]
                     document.getElementById("one_points").innerHTML = score_player_one
                     document.getElementById("one_points").style.height = 5 + (score_player_one / 2) + "vh";

                     // current points
                     input_player_one = value_status["player_one"]["current_input"]
                     document.getElementById("p1_entered").innerHTML = input_player_one
                     document.getElementById("p2_entered").innerHTML = "?"
            } else if (value_status["player_two"] && (value_status["player_two"].name == myName)){

                // score
                score_player_two = value_status["player_two"]["points"]
                document.getElementById("two_points").innerHTML = score_player_two
                document.getElementById("two_points").style.height = 5 + (score_player_two / 2) + "vh";

                // current points
                input_player_two = value_status["player_two"]["current_input"]
                document.getElementById("p2_entered").innerHTML = input_player_two
                document.getElementById("p1_entered").innerHTML = "?"
           } else {
           console.log("error")
           }
        }
    }else {
        if (value_status["player_two"].GameIsOn == false ) {
        document.getElementById("p2_entered").innerHTML = ":("

        } else if (value_status["player_one"].GameIsOn == false ) {
        document.getElementById("p1_entered").innerHTML = ":("
        }
    }
    }
}

function GetWhichPlayerWeAre() {
    if (value_status["player_one"] && (value_status["player_one"].name == myName))
        {
            document.getElementById("numbers").style.backgroundColor = "#4cc3b5";
            document.getElementById("myBtn_2").style.backgroundColor = "#3a9184";
        }

    if (value_status["player_two"] && (value_status["player_two"].name == myName))
        {
           document.getElementById("numbers").style.backgroundColor = "#1b2c54";
           document.getElementById("myBtn_2").style.backgroundColor = "#122038";
        }
}

function myFunction(output){
    $.ajax({
        url:"/GameStatus",
        type:"GET",
        contentType: "application/json",
        data: JSON.stringify()}).done(function( res )
        {

            game_state = res;
            value_status = res;
            updateGameArea()
            GetWhichPlayerWeAre()
            updateNumbers()
        });
    setTimeout(myFunction, 1000);
}

// TODO how to store which player we are actually (aka myName)

function restartPage(){
        document.getElementById("name_main").style.display = "none";
        document.getElementById("input_numbers").style.display = "block";
        document.getElementById("main").style.display = "block";
        myFunction();
}

function passNames() {
    myName = document.getElementById("fname").value;
    const dict_values = myName
    const s = JSON.stringify(dict_values);
    console.log(s);
    $.ajax({
        url:"/test",
        type:"POST",
        contentType: "application/json",
        data: JSON.stringify(s)}).done(function( res ) {

        document.getElementById("name_main").style.display = "none";
        document.getElementById("input_numbers").style.display = "block";
        document.getElementById("main").style.display = "block";


        value_status = res;
        myFunction();
        updateGameArea();
  });
}

// var inputing_name = document.getElementById("input_name");
// inputing_name.addEventListener("keypress", function(event) {
//   if (event.key === "Enter") {
//     event.preventDefault();
//
//     console.log("Key press one");
//
//     document.getElementById("myBtn").click();
//   }
// });
//
// var inputing_number = document.getElementById("input_name");
// inputing_number.addEventListener("keypress", function(event) {
//   if (event.key === "Enter") {
//     event.preventDefault();
//
//     console.log("Key press two");
//
//     document.getElementById("myBtn_2").click();
//   }
// });

function passNumbers(event) {
    console.log("passNumbers is called")
    const firstplayer_pass = document.getElementById("fname").value;
    const form = document.getElementById('my_form');
    const numbers = document.getElementById("numbers").value;
    const dict_numbers = numbers
    const d = JSON.stringify(dict_numbers);

    const data = {name: firstplayer_pass, number: dict_numbers}

    $.ajax({
        url:"/numbers",
        type:"POST",
        contentType: "application/json",
        data: JSON.stringify(data)}).done(function( res ) {

            updateNumbers(res)

  });
}

</script>
</body>
</html>